{% extends 'base.html.twig' %}

{% block breadcrumbs %}
	Modification de vos informations
{% endblock %}

{% block content %}
	<div class="heading mb20">
		<h3>
			{{ membresCrestic.display|raw }} - {{ membresCrestic.statutLong|trans }}
		</h3>
	</div>

	{{ form_start(edit_form) }}
	<div class="row" style="text-align: right">
		<div class="col-sm-3">&nbsp;</div>
		<div class="col-sm-3"><a href="{{ path('homepage_utilisateur') }}">Retour / Annuler</a></div>
		<div class="col-sm-3"><a href="{{ path('utilisateur_membres_edit') }}" target="_blank">Editer la version
																								   française (nouvel onglet)</a></div>
		<div class="col-sm-3"><button type="submit" class="btn btn-block btn-primary">Enregistrer</button> </div>
	</div>
	<div class="row">


		<div class="col-sm-12">

			<div class="alert alert-warning">Vous éditez la version anglaise de votre page. La mise en page est différente pour plus de confort dans l'édition des données nécessitant une traduction.</div>
			<br />
			<h4>Localisation</h4>
			{#{{ form_widget(edit_form.adresse) }}#}
			{{ form_widget(edit_form.site) }}
			{{ form_widget(edit_form.batiment) }}
			{{ form_widget(edit_form.bureau) }}
			<br />
			<h4>CV</h4>
			{{ form_widget(edit_form.cvEn) }}
		</div>
	</div>

	<div class="heading mt30">
		<h4>
			{{ 'visiteur.MembresCrestic.activites'| trans }}
		</h4>
	</div>

	<!-- Begin Tabs Justified -->
	<ul id="membresTabActivites" class="nav nav-tabs nav-justified mt15" role="tablist">
		<li>
			<a href="#responsabilitesAdministratives" role="tab" data-toggle="tab">
				{{ 'visiteur.MembresCrestic.responsabilitesAdministratives'| trans }}
			</a>
		</li>

		<li>
			<a href="#themes" role="tab" data-toggle="tab">
				{{ 'visiteur.MembresCrestic.themes'| trans }}
			</a>
		</li>
		<li>
			<a href="#responsabilitesScientifiques" role="tab" data-toggle="tab">
				{{ 'visiteur.MembresCrestic.responsabilitesScientifiques'| trans }}
			</a>
		</li>
		<li>
			<a href="#international" role="tab" data-toggle="tab">
				{{ 'visiteur.MembresCrestic.international'| trans }}
			</a>
		</li>
		<li>
			<a href="#editorial" role="tab" data-toggle="tab">
				{{ 'visiteur.MembresCrestic.editoriale'| trans }}
			</a>
		</li>
		<li>
			<a href="#valorisation" role="tab" data-toggle="tab">
				{{ 'visiteur.MembresCrestic.valorisation'| trans }}
			</a>
		</li>
		<li>
			<a href="#evaluation" role="tab" data-toggle="tab">
				{{ 'visiteur.MembresCrestic.evaluation'| trans }}
			</a>
		</li>
		<li>
			<a href="#vulgarisation" role="tab" data-toggle="tab">
				{{ 'visiteur.MembresCrestic.vulgarisation'| trans }}
			</a>
		</li>

		<li>
			<a href="#enseignements" role="tab" data-toggle="tab">
				{{ 'visiteur.MembresCrestic.enseignements'| trans }}
			</a>
		</li>




	</ul>

	<div id="membresTabDivActivites" class="tab-content tab-default mb15">
		<div class="tab-pane" id="responsabilitesAdministratives" style="height: 500px">
			{{ form_widget(edit_form.responsabilitesAdministrativesEn) }}
		</div>
		<div class="tab-pane" id="valorisation" style="height: 500px">
			{{ form_widget(edit_form.valorisationEn) }}
		</div>
		<div class="tab-pane" id="vulgarisation" style="height: 500px">
			{{ form_widget(edit_form.vulgarisationEn) }}
		</div>
		<div class="tab-pane" id="international" style="height: 500px">
			{{ form_widget(edit_form.internationalEn) }}
		</div>
		<div class="tab-pane" id="enseignements" style="height: 500px">
			{{ form_widget(edit_form.enseignementsEn) }}
		</div>
		<div class="tab-pane" id="responsabilitesScientifiques" style="height: 500px">
			{{ form_widget(edit_form.responsabilitesScientifiquesEn) }}
		</div>
		<div class="tab-pane" id="themes" style="height: 500px">
			{{ form_widget(edit_form.themesEn) }}
		</div>
		<div class="tab-pane" id="evaluation" style="height: 500px">
			{{ form_widget(edit_form.evaluationEn) }}
		</div>
		<div class="tab-pane" id="editorial" style="height: 500px">
			{{ form_widget(edit_form.editorialEn) }}
		</div>
	</div>

	<div class="row" style="text-align: right">
		<div class="col-sm-3">&nbsp;</div>
		<div class="col-sm-3"><a href="{{ path('homepage_utilisateur') }}">Retour / Annuler</a></div>
		<div class="col-sm-3"><a href="{{ path('utilisateur_membres_edit') }}" target="_blank">Editer la version
																							   française (nouvel onglet)</a></div>
		<div class="col-sm-3"><button type="submit" class="btn btn-block btn-primary">Enregistrer</button> </div>
	</div>
	{{ form_rest(edit_form) }}
	{{ form_end(edit_form) }}
{% endblock %}

{% block javascripts %}
	<script>
		$(document).ready(function () {
			var max_height = 0;
			$('#membresTabActivites a:first').tab('show');


			$('#membresTabActivites a').each(function () {
				var id_tab = $(this).attr('href');
				if (max_height < $(id_tab).height()) {
					max_height = $(id_tab).height();
				}
			});

			$("#membresTabDivActivites").height(max_height);
		});
	</script>
{% endblock %}
