{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_content %}
    <div class="row" {{ stimulus_controller('document', {
        url: path('admin_show_categorie'),
        urlCategories: path('admin_documents_categories'),
    }) }}>
        <div class="col-3" {{ stimulus_target('document', 'categories') }}>

        </div>
        <div class="col-9" {{ stimulus_target('document', 'documents') }}>
            <div class="alert alert-info">
                Choisir une catégorie dans le menu
            </div>
        </div>
    </div>
{% endblock %}

{% block page_title %}
    Gestion des documents
{% endblock %}

    {% block head_javascript %}
        {{ parent() }}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

