{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="heading mb20">
                <h2>
                    HCERES
                </h2>
            </div>
            <p class="da-text-justify">
                Page contenant les éléments pour le HCERES
            </p>
            <div class="row">
                <div class="col-sm-3">
                    <a href="{{ asset('hceres/DAE_VAGUE_C_CRESTIC.pdf') }}" target="_blank">
                        <img src="{{ asset('assets/icones/pdf.png') }}" width="100px">
                        <br>
                        Télécharger : DAE_VAGUE_C_CRESTIC.pdf</a>
                </div>
                <div class="col-sm-3">
                    <a href="{{ asset('hceres/PORTFOLIO_VAGUE_C_CRESTIC.pdf') }}" target="_blank">
                        <img src="{{ asset('assets/icones/pdf.png') }}" width="100px">
                        <br>
                        Télécharger : PORTFOLIO_VAGUE_C_CRESTIC.pdf
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="{{ asset('hceres/DC_CRESTIC.xlsm') }}" target="_blank">
                        <img src="{{ asset('assets/icones/excel.png') }}" width="100px">
                        <br>
                        Télécharger : DC_CRESTIC.xlsm</a>
                </div>
                <div class="col-sm-3">
                    <a href="{{ asset('hceres/DPA_VAGUE_C_CRESTIC.xlsx') }}" target="_blank">
                        <img src="{{ asset('assets/icones/excel.png') }}" width="100px">
                        <br>
                        Télécharger : DPA_VAGUE_C_CRESTIC.pdf</a>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-3">
                    <a href="{{ asset('hceres/RH_Contrats_Theme.xlsx') }}" target="_blank">
                        <img src="{{ asset('assets/icones/excel.png') }}" width="100px">
                        <br>
                        Télécharger : RH_Contrats_Theme.xlsx</a>
                </div>
                <div class="col-sm-3">
                    <a href="{{ asset('hceres/2016-2021-Releves_de_decisions_CL_CReSTIC.zip') }}" target="_blank">
                        <img src="{{ asset('assets/icones/zip.png') }}" width="100px">
                        <br>
                        Télécharger : Comptes rendus de conseil de laboratoire (2016-2021) (en format zip)</a>
                </div>
                <div class="col-sm-3">
                    <a href="{{ asset('hceres/livret_d_accueil.pdf') }}" target="_blank">
                        <img src="{{ asset('assets/icones/pdf.png') }}" width="100px">
                        <br>
                        Télécharger : Le livret d'accueil</a>
                </div>

                <div class="col-sm-3">
                    <a href="{{ asset('hceres/1_bilan_2016_2021_CReSTIC_VF2.pdf') }}" target="_blank">
                        <img src="{{ asset('assets/icones/pdf.png') }}" width="100px">
                        <br>
                        Télécharger : Présentation Bilan 2016-2021 CReSTIC</a>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-3">
                    <a href="{{ asset('hceres/2_bilan_2016_2021-INFO_VF1.pdf') }}" target="_blank">
                        <img src="{{ asset('assets/icones/pdf.png') }}" width="100px">
                        <br>
                        Télécharger : Présentation Bilan 2016-2021 CReSTIC - Département Informatique</a>
                </div>
                <div class="col-sm-3">
                    <a href="{{ asset('hceres/4_bilan_2016_2021-ATS_VF1.pdf') }}" target="_blank">
                        <img src="{{ asset('assets/icones/pdf.png') }}" width="100px">
                        <br>
                        Télécharger : Présentation Bilan 2016-2021 CReSTIC - Département ATS</a>
                </div>
                <div class="col-sm-3">
                    <a href="{{ asset('hceres/3_bilan_2016-2021_CReSTIC_Themes_Transversaux_complet_V2.pdf') }}" target="_blank">
                        <img src="{{ asset('assets/icones/pdf.png') }}" width="100px">
                        <br>
                        Télécharger : Présentation Bilan 2016-2021 CReSTIC - Thèmes Transversaux</a>
                </div>
                <div class="col-sm-3">
                    <a href="{{ asset('hceres/Presentation_Hceres_Projet_CReSTIC_2024_2028_BL.pptx') }}" target="_blank">
                        <img src="{{ asset('assets/icones/ppt.png') }}" width="100px">
                        <br>
                        Télécharger : Présentation Bilan 2016-2021 CReSTIC - Thèmes Transversaux</a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
